<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>r
  </tr>
  </thead>
<tbody>
<tr th:each="studentDetail : ${studentList}">
  <td th:text="${studentDetail.student.id}">1</td>
  <td th:text="${studentDetail.student.name}">Taro Yamada</td>
  <td th:text="${studentDetail.student.kananame}">タロウ・ヤマダ</td>
  <td th:text="${studentDetail.student.nickname}">Taro</td>
  <td th:text="${studentDetail.student.email}">taro.yamada@example.com</td>
  <td th:text="${studentDetail.student.adress}">1234 Tokyo, Japan</td>
  <td th:text="${studentDetail.student.tell}">090-1234-5678</td>
  <td th:text="${studentDetail.student.age}">20</td>
  <td th:text="${studentDetail.student.gender}">male</td>
  <td th:text="${studentDetail.student.remarks}">大学で経済学を専攻し ており、データ分析に興味があります。</td>
 </tr>
 </tbody>
</table>
</body>
</html>